# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Quinoa
.quinoa

# Eclipse
.project
.classpath
.settings/
bin/
.jdt/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env*
!.env.sample
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/main/webui/node_modules
src/main/webui/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo

# yarn
src/main/webui/.yarn/*
!src/main/webui/.yarn/cache
!src/main/webui/.yarn/patches
!src/main/webui/.yarn/releases
!src/main/webui/.yarn/plugins
!src/main/webui/.yarn/sdks
!src/main/webui/.yarn/versions
.pnp.*
